<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="kr.co.softbridge.voplatform.commons.mapper.CommonCodeMapper">
	<select id="getCodeList" parameterType="map" resultType="kr.co.softbridge.voplatform.commons.dto.CommonCodeDto">
		SELECT
				CODE_ID
				, CODE_NM
				, GRP_CODE
		FROM 
				TB_CODE_DTL
		WHERE 
				GRP_CODE = #{grpCode}
		  		AND USE_YN = 'Y'
	</select>	
	
</mapper>